* {
  margin: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.heading {
  color: red;
  text-align: center;
  border: 1px solid blue;
  padding: 40px;
  width: 50%;
}

.paragraph {
  border-radius: 10px solid blue;
  padding: 10px;
}
